@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@{
    ViewData["Title"] = "Home Page";
}






<h1 style="background-color : aqua; text-align: center; font-family: 'Berlin Sans FB'" >
    @Localizer["WelCome"]
</h1>

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" style="font-family: 'Berlin Sans FB'">@Localizer["Dashboard"]</h1>
    </div>

    <!-- Content Row -->
        @await Component.InvokeAsync("Employee")
    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
           
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">@Localizer["Departments & Employees Relationship"] </h6>
                    
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <div class="chartjs-size-monitor">
                            <div class="chartjs-size-monitor-expand">
                                <div class=""></div></div>
                                <div class="chartjs-size-monitor-shrink">
                                    <div class=""></div>
                                </div>
                        </div>
                        <canvas id="myAreaChart" width="938" height="400" style="display: block; height: 320px; width: 751px;" class="chartjs-render-monitor"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">@Localizer["Departments & Employees Data"]</h6>
                    
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <div class="chartjs-size-monitor">
                            <div class="chartjs-size-monitor-expand">
                                <div class="">


                                </div>
                            </div>
                                <div class="chartjs-size-monitor-shrink">
                                    <div class="">

                                    </div>
                                </div>
                        </div>
                        <canvas id="myPieChart" width="428" height="306" style="display: block; height: 245px; width: 343px;" class="chartjs-render-monitor"></canvas>
                    </div>
                   
                    <div class="mt-4 text-center small">
                        <span class="mr-2">
                            <i class="fas fa-circle text-primary"></i> @Localizer["HR"]
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-success"></i> @Localizer["Admin"]
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-info"></i> @Localizer["SM"]
                        </span>

                        <span class="mr-2">
                            <i class="fas fa-circle text-black"></i> @Localizer["FA"]
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-success"></i> @Localizer["WD"]
                        </span>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!-- Project Card Example -->
          

            <!-- Color System -->


        </div>

        <div class="col-lg-6 mb-4">

            <!-- Illustrations -->
          

            <!-- Approach -->
          

        </div>
    </div>
    <!-- Page level plugins -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/vendor/chart.js/Chart.min.js"></script>
    <script src="/vendor/jquery/jquery.min.js"></script>
   
    <!-- Page level custom scripts -->
   <script src="/js/demo/chart-area.js"></script> 
   <script src="/js/demo/chart-pie-demo.js"></script> 
</div>


                    