@model IEnumerable<ApplicationCore.Models.EmployeeViewModel>

@{
    ViewData["Title"] = "GetAllEmployees";
}

<h1>All Employee Data</h1>
@await Component.InvokeAsync("Employee")
<table class="table table-striped">
    <thead>
        <tr>

            <th>Name</th>
            <th>Email</th>
            <th>Adress</th>
            <th>Designation</th>
            <th>ContactNo</th>
            <th>Image</th>
            <th>Department Name</th>
            <th>Created By</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (TempData["Message"] != null)
        {
            <tr><h2 class="btn btn-danger"> @TempData["Message"]</h2></tr>
        }
        @foreach (var i in Model)
        {
         
            <tr>
                <td style="display:none">@i.Id</td>
                <td>@i.Name</td>
                <td>@i.Emp_Email</td>
                <td>@i.Adress</td>
                <td>@i.Designation</td>
                <td>@i.ContactNo</td>
               
                @if (string.IsNullOrEmpty(@i.ImagePath))
                {
                    <td><img src="~/dummy.png" width="50" height="50" style="border-radius :100% "/></td>
                }
                else
                {
                 <td><img src="~/@i.ImagePath" width="50" height="50"style="border-radius :100% "></td>
                }
                <td>@i.Department.DepartmentName</td>
                <td>@i.UserName <br> @i.CreatedOn</td>
                <td>
                    <button class="btn btn btn-success"><a style="color : white" href="/Account/UpdateEmployees/@i.Id">Edit</a></button>
                    <button class="btn btn btn-danger"><a style="color : white" href="/Account/DeleteEmployees/@i.Id">Delete</a></button>
                </td>
            </tr>
        }

    </tbody>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Adress</th>
            <th>Designation</th>
            <th>ContactNo</th>
            <th>Image</th>
            <th>Department Name</th>
            <th>Created By</th>
            <th>Action</th>
        </tr>
    </tfoot>
</table>






