@model ApplicationCore.AssetsModel.EmployeeAssestViewModel
@{
    ViewData["Title"] = "AssignAssets";
}


<div id="wrapper">
    <div class="container-fluid">

        <div class="shadow p-3 mb-5 bg-white rounded">
            <h2>Assign Asset</h2>
            <hr />
            <table class="table table-bordered" id="" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Purchasing Price</th>
                        <th>Status</th>
                        <th>Created At</th>
                        <th>Created By</th>

                </thead>

                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Purchasing Price</th>
                        <th>Status</th>
                        <th>Created At</th>
                        <th>Created By</th>

                </tfoot>
                <tbody>
                    @foreach (var i in Model.Assets)
                    {
                        <tr>
                            <td>@i.Name</td>
                            <td>@i.Description</td>
                            <td>@i.PurchasingPrice</td>
                            <td>@i.Status</td>
                            <td>@i.CreatedAt</td>
                            <td>@i.CreatedBy</td>
                        </tr>
                    }

                </tbody>
            </table>
            <hr />
            <div class="row">
                
            </div>
            
            <form method="post" asp-controller="Assets" asp-action="AssignAssets">
                <select class="form-control" name="AssetId" id="" style="display: none">
                    @foreach (var i in Model.Assets)
                    {
                        <option value="@i.Id"></option>
                    }
                </select>
                
                <div class="row">
                    <div class="col-6">
                        <label class="form-group" for="">Select Department:</label>
                        <select class="form-control" name="" id="dptId">
                            <option>Select Department</option>
                            @foreach (var i in @ViewBag.Department)
                            {
                                <option value="@i.Id">@i.DepartmentName</option>
                            }
                        </select>
                    </div>
                    <div class="col-6" id="selectEmpSection">
                       
                    </div>
                    


                </div>
                <hr />
                <div class="row">
                    <div class="col-12">

                        <div class="form-group mt-2">
                            <label for="">Remarks</label>
                            <input type="text" class="form-control" id="" aria-describedby="emailHelp" value="" name="Remarks" placeholder="Enter assets Remarks" required>
                        </div>

                    </div>
                </div>

                <div class="form-group mt-2">

                    <button type="submit" class="btn btn-primary btn-user btn-block">Submit</button>
                </div>
            </form>

            </div>
    </div>
</div>

<script src="/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#dptId').on('change', function () {

          var departmentId = $(this).val();
           GetEmployeesRecordByDptId(departmentId)
        });
        });


    function GetEmployeesRecordByDptId(departmentId) {
        $.ajax({
            type: "Get",
            url: "/Assets/GetEmployeeListOnDepartmentId",
            data: { departmentId: departmentId },
          
            success: function (data) {
                debugger
                $('#selectEmpSection').html(data);
               // alert("Record added successfully");
            },
            error: function (errr) {
                alert("Error : Data not add successfully")
            }
          })
   }
    
 
</script>
