@model IEnumerable<ApplicationCore.AssetsModel.ListEmployeeAssetViewModel>


<div class="container-fluid">
    <div class="mb-2">
    <button class="btn btn-success"> <a href="/Assets/AddAssets" class="text-light">Add Asset</a></button>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Asset Detail</h6>
        </div>
        <div class="align-self-end mt-3" style="margin-right :40px">
            <a href="/Assets/AssetExcelSheet" class="btn btn-secondary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                </span>
                <span class="text">Export</span>
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
               

                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                           
                            <th>Name</th>
                            <th>Image</th>
                            <th>Description</th>
                            <th>Purchasing Price</th>
                            <th>Status</th>
                            <th>Assig To</th>
                            <th>CreatedAt </th>
                            <th>CreatedBy</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            
                            <th>Name</th>
                            <th>Image</th>
                            <th>Description</th>
                            <th>Purchasing Price</th>
                            <th>Status</th>
                            <th>Assig To</th>
                            <th>CreatedAt </th>
                            <th>CreatedBy</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var i in Model)
                        {

                            <tr>
                                <td style="display : none">@i.Id</td>
                                <td>@i.Asset_Name</td>

                                @if (string.IsNullOrEmpty(@i.ImagePath))
                                {
                                    <td><img src="~/dummy.png" width="50" height="50" style="border-radius :100% " /></td>
                                }
                                else
                                {
                                    <td><img class="imgId" src="~/@i.ImagePath" width="50" height="50" style="border-radius :100% "></td>
                                }

                                <td>@i.Description</td>
                                <td>@i.PurchasingPrice</td>
                                <td>@i.Status</td>
                                @if (@i.Status == "Available")
                                {
                                    <td><button class="btn btn-info"><a href="/Assets/AssignAssets/@i.Id">Assign</a></button></td>
                                }

                                else
                                {
                                    <td><a href="/Assets/ListAssestWithEmployee/@i.Emp_Id">@i.Emp_Name</a></td>
                                }
                                <td>@i.CreatedAt.ToString("dddd, MMMM d, yyyy h:mm tt")</td>
                                <td>@i.CreatedBy</td>
                                <td>
                                    <button style="padding: 0; border: none;background: none;">
                                        <a style="color : white" href="">
                                            <a href="/Assets/GetAssetsRecordById/@i.Id" class="btn btn-success btn-circle btn-sm">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                        </a>
                                    </button>


                                    <button style="padding: 0; border: none;background: none;">
                                        <a style="color : white" href="">
                                            <a href="/Assets/DeleteAssetsRecords/@i.Id" class="btn btn-danger btn-circle btn-sm">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </a>
                                    </button>
                                   
                                </td>
                            </tr>
                        }

                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex justify-content-center">
                    <img class="modal-image" id="enlargedImage" />
                </div>
            </div>
        </div>
    </div>




</div>
<script src="/vendor/jquery/jquery.min.js"></script>
  <script>
      $(document).ready(function () 
      {
          $(".imgId").on('click' , function(e){
            var imageSrc = $(this).attr('src');
            $('#enlargedImage').attr('src', imageSrc);
            $('#imageModal').modal('show');

          })
      })

   
  </script>