@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>





<html lang="en">

<body id="page-top">
    <div id="wrapper">
        <div class="container-fluid">
          @*   @await Component.InvokeAsync("Employee") *@
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Users Data</h6>

                </div>
              @*   <div class="align-self-end mt-3" style="margin-right :40px">
                    <a href="#" class="btn btn-secondary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                        <span class="text">Export</span>
                    </a>
                </div> *@

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>UserName</th>
                                    <th>Email </th>
                                    <th>EmailConfirmed</th>
                                    <th>Lock/Unlock User</th>
                                    <th>Actions</th>
                                    


                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>UserName</th>
                                    <th>Email </th>
                                    <th>EmailConfirmed</th>
                                    <th>Lock/Unlock User</th>
                                    <th>Actions</th>

                                </tr>
                            </tfoot>
                            <tbody>
                               @foreach(var i in Model)
                               {
                                   
                                    <tr>
                                        <td>@i.UserName</td>
                                        <td>@i.Email</td>
                                        <td>@i.EmailConfirmed</td>


                                        @if (@i.LockoutEnd > DateTimeOffset.UtcNow)
                                        {
                                            @if (@i.Id == "4c521f86-0d2a-4cf9-9906-adcc7dca856c")
                                            {
                                                <td><img class="adminNotLocked" src="~/dummy.png" width="42" height="40" /></td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <button class="btn btn-danger">
                                                        <a href="/Users/UnLockUser/@i.Id">
                                                            <i class="fas fa-lock"></i>
                                                        </a>
                                                    </button>
                                                </td>
                                            }
                                           
                                        }
                                        else
                                        {
                                            @if (@i.Id == "4c521f86-0d2a-4cf9-9906-adcc7dca856c")
                                            {
                                                <td><img class="adminNotLocked" src="~/dummy.png" width="42" height="40"   /></td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <button class="btn btn-success">
                                                        <a href="/Users/LockUser/@i.Id">
                                                            <i class="fas fa-unlock"></i>
                                                        </a>
                                                    </button>
                                                </td>
                                            }
                                            
                                        }
                                        
                                     
                                            
                                      
                                        <td>

                                            <button style="padding: 0; border: none;background: none;">
                                                <a style="color : white" >
                                                    <a href="/Users/GetUsersById/@i.Id" class="btn btn-success btn-circle btn-sm">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                </a>
                                            </button>


                                            <button style="padding: 0; border: none;background: none;">
                                                <a style="color : white" >
                                                    <a href="/Users/DeleteUsers/@i.Id" class="btn btn-danger btn-circle btn-sm">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                </a>
                                            </button>

                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Your Website 2020</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

  


</body>

</html>
<script>
    $(document).ready(function () {
        $('.adminNotLocked').on('click', function () {
            alert("Admin could not be locked anyway")
        })
    })

</script>

